/*------------------------------------*\
	MAIN
\*------------------------------------*/
@font-face {
    font-family: 'gothambold';
    src: url('fonts/gotham-bold-webfont.eot');
    src: url('fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('fonts/gotham-bold-webfont.woff') format('woff'),
         url('fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('fonts/gotham-bold-webfont.svg#gothambold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothammedium';
    src: url('fonts/gotham-medium-webfont.eot');
    src: url('fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('fonts/gotham-medium-webfont.woff') format('woff'),
         url('fonts/gotham-medium-webfont.ttf') format('truetype'),
         url('fonts/gotham-medium-webfont.svg#gothammedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambookregular';
    src: url('fonts/gothambook-webfont.eot');
    src: url('fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothambook-webfont.woff2') format('woff2'),
         url('fonts/gothambook-webfont.woff') format('woff'),
         url('fonts/gothambook-webfont.ttf') format('truetype'),
         url('fonts/gothambook-webfont.svg#gothambookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 62.5%;
}

body {
	font: 300 11px/1.4 'DINPro-CondBold', Helvetica, Arial, sans-serif;
	background-color: rgb(242,242,242);
}

img {
	max-width: 100%;
}

.clear:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	
.clear {
	*zoom: 1;
}

.left {	
	float: left;
}

.right {
	float: right;
}

.vertical-middle {
	position: relative;
	top: 50%;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}



/*------------------------------------*\
	WORK
\*------------------------------------*/

.work-container .work-image {
	padding: 8.3% 0%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.work-container {
	padding-top:85px;
}
.work-container .cat-container {
	padding-left:2.34%;
	padding-bottom:20px;
}

.work-container .cat-container span{
	color:#C4C4C4;
	font:16px 'gothammedium';
	margin-right:1.5%;
	cursor:pointer;
}

.work-container .cat-container span.active{
	color:black;
	border-bottom:2px solid black;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span-12-of-12 {
	width: 100%;
}

.span-11-of-12 {
  	width: 91.66%;
}
.span-10-of-12 {
  	width: 83.33%;
}

.span-9-of-12 {
  	width: 75%;
}

.span-8-of-12 {
  	width: 66.66%;
}

.span-7-of-12 {
  	width: 58.33%;
}

.span-6-of-12 {
  	width: 50%;
}

.span-5-of-12 {
  	width: 41.66%;
}

.span-4-of-12 {
  	width: 33.33%;
}

.span-3-of-12 {
  	width: 25%;
}

.span-2-of-12 {
  	width: 16.66%;
}

.span-1-of-12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}